<div class="container">

    <h1>Massive Manipulation</h1>
    <hr>
  

    <h2>Tests</h2>
    <ul>
        <li>
        <%= link_to "/task/maze_positioning" do %>
            Varying numbers of robots
        <% end %>
        </li>
        <li>
        <%= link_to "/task/varying_control" do %>
            Varying control schemes
        <% end %>
        </li>
        <li>
        <%= link_to "/task/varying_visualization" do %>
            Varying visualization schemes
        <% end %>
        </li>
    </ul>


    <h2>Fun</h2>

    <ul>
        <li>
        <%= link_to "/task/robot_positioning" do %>
            Robot positioning
        <% end %>
        </li>
        <li>
        <%= link_to "/task/pyramid_building" do %>
            Pyramid building
        <% end %>
        </li>
    </ul>

<!--  TODO: I want a column on the right that shows some pictures of tasks (Todo:  eventually, a box2d animation) and tells about the project 

<h2>About Swarm Manipulate</h2>
   The SwarmControl project aims to understand the best ways to control a swarm of robots by a human.  The project achieves this through a community of game-developed experts.  The project is continuously changed to promote the creation of experts and to become the most effective exploration tool. To achieve this, the project continuously gathers and analyzes data.  
<h2>Why we care</h2>
There are compelling reasons for creating micro-robotics for applications ranging from targeted drug delivery to minimally invasive surgery.
 The potential impact is broad: large populations of micro-manipulators would enable surgeons to eliminate cancer at the cellular level, let engineers develop complex MEMS assemblies, and empower biologists to simultaneously sort all the cells on a Petri dish.
-->

<!-- The Science    (this portion goes on each individual page)
    maze_positioning:
      Transport of goods and materials between points is at the heart of all engineering and construction in real-world systems.  In this experiment, we vary the number of robots used to transport an object. We keep the total area, maximum robot speed, and sum force the swarm can produce constant. See <a href="http://www.youtube.com/watch?v=px5RdSvGD2Q"> our video of robots pushing a toy piano <\a>, or <a href="http://mrsl.rice.edu/sites/mrsl.rice.edu/files/papers/MassiveUniformManipulation_0.pdf">our paper<\a>  for details.

varying_control
    We want to use swarms of robots to build micro devices.  This experiment compares different controllers, modelled after real-world devices. Scientists are using scanning tunneling microscopes (SEM) to arrange atoms and make small assemblies.  A very tiny microscope tip is charged with electrical potential, and this charge can be used to repulse like-charged atoms or attract differently-charged atoms. The global controller represents using global field (formed by parallel lines of diffferently-charged conductors) to pull atoms all in the same direction. See <a href="http://www.youtube.com/watch?v=px5RdSvGD2Q"> video of a global controller <\a>, or <a href="http://mrsl.rice.edu/sites/mrsl.rice.edu/files/papers/MassiveUniformManipulation_0.pdf">our paper<\a>  for details.

varying_visualization
    Sensing is expensive, especially on the nanoscale.  To see nanocars, scientist fasten molecules that floresce light when activated by a strong lamp of a particular color.  Unfortunately, multiple exposures can destroy these molecules, a process called <a href="http://en.wikipedia.org/wiki/Photobleaching">photo-bleaching<\a>.  What happens if we use less power for the exposure?  This experiment varyies the amount of sensing information given to explore the impact on manipulation.  Full-state sensing is the most information, because it tells the position of all the robots (200 numbers for 100 robots).  The bounding box draws a line around the outermost robots. Mean tells where the average position (just 2 numbers for all 100 robots), and knowing the variance adds 3 additional numbers.

robot_positioning
    This tasks examines how task completion time <i> scales <\i> with the number of robots.  If a task requres twice as much time as for one robot with two robots, 3x times as much with three robots, and 4x with four robots, we say the task <i> scales linearly <\i>.  If a task requires 4x times the time with two robots, 9x with three robots, and 16x with four, we say the task <i>scales quadratically<\i>. Knowing how a task scales with robot number allows us to describe how difficult it is.  See <a href="http://www.youtube.com/watch?v=5p_XIad5-Cw"> our video on swarm position control <\a> and <a href="http://mrsl.rice.edu/sites/mrsl.rice.edu/files/papers/MassiveUniformManipulation_0.pdf">our paper<\a>  for details.

pyramid_building 
    Real-world microrobots are affected by turbulence caused by random collisions with molecules.  These collisions are called <a href="http://en.wikipedia.org/wiki/Brownian_noise"> Brownian noise <\a>.  This experiment varies the strength of these disturbances to study the impact of noise on human control of large swarms. One way to counter disturbances is to use <i>feedback control:<\i> -- measure the swarm positions, and automatically calculate a new control value based on the current measurements. 
    See <a href="http://www.youtube.com/watch?v=MLr2YvghPns"> our video on feedback control og living one-celled organisms <\a> and <a href="http://mrsl.rice.edu/sites/mrsl.rice.edu/files/papers/ControlManyPyriformis.pdf">paper<\a> for details.
--> 


</div>

