


<div class="container">
    <h1>Massive Manipulation</h1>    
                <hr>

<div class="row-fluid">
            <div class="span3">
                
              

                <h2>Tests</h2>
                <ul>
                    <li>
                    <%= link_to "/task/maze_positioning" do %>
                        Varying numbers of robots
                    <% end %>
                    </li>
                    <li>
                    <%= link_to "/task/varying_control" do %>
                        Varying control schemes
                    <% end %>
                    </li>
                    <li>
                    <%= link_to "/task/varying_visualization" do %>
                        Varying visualization schemes
                    <% end %>
                    </li>
                </ul>


                <h2>Fun</h2>

                <ul>
                    <li>
                    <%= link_to "/task/robot_positioning" do %>
                        Robot positioning
                    <% end %>
                    </li>
                    <li>
                    <%= link_to "/task/pyramid_building" do %>
                        Pyramid building
                    <% end %>
                    </li>
                </ul> 

            </div>
            <div class="span9">

<!--  TODO: I want a column on the right that shows some pictures of tasks (Todo:  eventually, a box2d animation) and tells about the project -->

<h2>About SwarmControl</h2>
   The SwarmControl project aims to understand the best ways to control a swarm of robots by a human.  The project achieves this through a community of game-developed experts.  The project is continuously changed to promote the creation of experts and to become the most effective exploration tool. To achieve this, the project continuously gathers and analyzes data.  

<h2>Why we care</h2>
There are compelling reasons for creating micro-robotics for applications ranging from targeted drug delivery to minimally invasive surgery.
 The potential impact is broad: large populations of micro-manipulators would enable surgeons to eliminate cancer at the cellular level, let engineers develop complex MEMS assemblies, and empower biologists to simultaneously sort all the cells on a Petri dish.

<p><br>


            </div>

        </div>
 <%= image_tag "VaryControl.png" %>  <%= image_tag "VaryControl.png" %> 


</div>

