<% content_for :sidebar do %>
    <script>
        $(function() { app.init( '<%= @task_name%>' ); });
    </script>
  

    <h1> Massive Manipulation:</h1>
    <div id="taskName">
    <h3><%= @task_name_pretty %> </h3>
    </div>
    <!-- <%= link_to "/" do %>
        Return to task selection...
    <% end %> -->

    <!-- <div id="taskMode">
    </div> -->
    <div class="task-buttons">
  <button id="-play-again-button" class="btn btn-success" onClick="window.location.reload()">Restart</button>
    <button id="-show_results-button" class="btn btn-success" onClick="parent.location='../show_results'">Show Results</button>
    <button id="-tasks-button" class="btn btn-success" onClick="parent.location='../'">Tasks</button>
  </div>

    <div class="well task-info">
      <div id="task-instructions">
      </div>
      <div id="task-theScience" >
      </div>
    </div>
<!--
    <div class="results-chart-container">
        <div class="results-chart -chart-<%=@task_name%>"></div>
        <button id="-play-again-button" class="btn btn-success" onClick="parent.location='../task/<%=@task_name%>'">Play <%=@task_name%></button>
    </div>
-->
    <br>
<% end %>


<% content_for :workspace do %>
    <div class="pull-right" id="taskFeedback"> 
    </div>
    <canvas class="pull-right" id="canvas" width="600" height="600" style="background-color:#EEEEEE;" >
    </canvas>
<% end %>
