<!DOCTYPE html>
  <!-- Update your html tag to include the itemscope and itemtype attributes. -->
<html itemscope itemtype="http://schema.org/CreativeWork">
<head>
  <title>SwarmControl Tasks</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>


  <!-- Add the following tags inside head. -->
  <meta itemprop="name" content="SwarmControl: Massive Manipulation">
  <meta itemprop="description" content="SwarmControl, an online game controlling robotic swarms: solve tasks, win stars, help science! The SwarmControl project aims to understand the best ways to control a swarm of robots by a human. The project achieves this through a community of game-developed experts. The project is continuously changed to promote the creation of experts and to become the most effective exploration tool. To achieve this, the project gathers and analyzes data.">
  <meta itemprop="image" content="http://swarmcontrol.herokuapp.com/assets/varying_control.png">
<meta property="og:title" content="SwarmControl" />
<meta property="og:type" content="game" />
<meta property="og:url" content="http://swarmcontrol.herokuapp.com" />
<meta property="og:image" content="http://swarmcontrol.herokuapp.com/assets/varying_control.png" />
<meta property="og:site_name" content="http://swarmcontrol.herokuapp.com" />
<meta property="fb:admins" content="1956786" />
<meta property="og:description" content="SwarmControl, online game controlling a robot swarm: solve tasks, win stars, help science! The SwarmControl project aims to understand the best ways to control a swarm of robots by a human. The project achieves this through a community of game-developed experts. The project is continuously changed to promote the creation of experts and to become the most effective exploration tool. To achieve this, the project gathers and analyzes data." />
<meta property="og:locale" content="en_US" />


</head>
<body>
    <%= render "shared/analyticsFeedback"%>

    <%= render "shared/navbar" %>

    <div class="container">
        <div class="row-fluid">
            <div class="span4">
                <%= yield :sidebar%>
            </div>
            <div class="span8", align="center">
                <%= yield :workspace %>
            </div>
        </div>
    </div>

    <%= render "shared/termsAndConsent"%>
    <%= render "shared/footer" %>




</body>
</html>
